.dccache
.idea
.DS_Store

# Package Files #
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Local cache files/config
.idea
.gradle/
.terraform/
.terraform.lock.hcl
.project
.settings/
.vscode/
tmp/
out/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
venv